<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 15px;
        }

        .book {
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <h1>My Book List</h1>

    <ul>
        {% for book in books_list %}
        <li class="book">
            <h2>{{book.title}}</h2>
            <p>Genre: {{book.genre}}</p>
            <p>Price: {{book.price}}</p>
        </li>
        {% endfor %}
    </ul>

</body>

</html>