<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>    
    <style></style>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">My Book List</h1>
        <ul>
            {% for book in books_list %}
            <div class="ui segment">
                <p class="book">
                    <h2 class="ui big header" >{{book.title}} - {{book.id}}</h2>
                    <p>Genre: {{book.genre}}</p>
                    <p>Price: {{book.price}}</p>
                    <button class = "ui green label" href="/deleteBook/{book_id}">Update</button>
                    <button class = "ui red label" href="/updateBook/{book_id}">Delete</button>
                </p>
            </div>        
            {% endfor %}    
        </ul>
    </div>
</body>

</html>